.workflow-steps {
  display: flex;
  justify-content: space-around;
}

.workflow-steps > span {
  font-size: large;
  padding: 5px;
}


.workflow-buttons {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
}

.workflow-buttons > button {
  margin: 10px;
  max-width: 300px;
  width: 100%;
}