.image-preview {

  > .image-thumbnail {
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 5px;
  }

  > .image-thumbnail:hover {
    cursor: zoom-in;
  }

  img.full-image {
    z-index: 1;
    cursor: zoom-out;
  }
}