.image-preview {

  > .image-thumbnail {
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 5px;
  }

  > .image-thumbnail:hover {
    cursor: zoom-in;
  }

  .full-image {
    position: relative;
    z-index: 100;
    cursor: zoom-out;

    > .meta {
      color: yellow;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 5px;
    }
  }
}