.person-images {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;

  > .type {
    font-weight: bold;
    font-size: large;
    min-width: 200px;
  }

  > .image-collection {
    flex-grow: 1;
  }

  > .controls button {
    margin: 0 5px;
  }
}