.selfie {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.selfie-cropper .face-cropper * {
  z-index: 100;
}

.selfie-cropper .selfie-cropper-buttons {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.selfie-cropper .selfie-cropper-buttons button {
  display: inline-block;
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  opacity: 0.7;
  font-weight: bold;
  font-size: larger;
  line-height: 20px;
  z-index: 200;
}